<!-- Partners Section -->
    <section id="partners" class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="http://www.arttheatrelongbeach.com/">
                        <img src="img/logos/art_theatre.png" class="img-responsive img-centered" alt="Art Theatre of Long Beach">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="http://www.centerlb.org/">
                        <img src="img/logos/2014-Center-Logo-Clear-background.png" class="img-responsive img-centered" alt="The Center Long Beach">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6" style="vertical-align: middle;">
                    <a href="http://4thstreetlongbeach.com/">
                        <img src="img/logos/4th_street.jpg" class="img-responsive img-centered" alt="Retro Row">
                    </a>
                </div>
            </div>
    </section>
<!-- /Partners Section -->