<!-- Splash Section -->
<section id="splash" class="container" style="text-align: center;">


    <div class="row">

        <div class="col-md-3">
        </div>

        <div class="col-md-6">
            <img src="img/adv_logo_homepage.png" class="img-responsive">
        </div>

        <div class="col-md-3">
        </div>

    </div>


    <div class="row">

        <div class="col-md-3" style="text-align: center;">
            5pm to Midnight, Every Day<br>
            2027 E. 4th St., Long Beach
            <hr>
        </div>

        <div class="col-md-6" style="text-align: center;">
            <div class="intro-text">
                <a href="#menu" class="page-scroll btn btn-primary">Menu</a>
                <a href="#specials" class="page-scroll btn btn-primary">Specials</a>
                <a href="#about" class="page-scroll btn btn-primary">About</a>
            </div>
            <hr>
        </div>

        <div class="col-md-3" style="text-align: center;">
            {% include follow.html %}
            <hr>
        </div>

    </div>

</section>
<!-- /Splash Section -->