 <!-- Subscription Paypal Checkout -->
<div class="well">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input name="cmd" type="hidden" value="_s-xclick" /><br />
        <input name="hosted_button_id" type="hidden" value="36EHEUWY5GMNS" /></p>
        <table>
            <tbody>
                <tr>
                    <td><input name="on0" type="hidden" value="Reds, Whites, or Both?" />Reds, Whites, or Both?</td>
                </tr>
                <tr>
                    <td><select name="os0"><option value="White Wines (In-Store Pickup)">White Wines (In-Store Pickup) : $50.00 USD &#8211; monthly</option><option value="Red Wines (In-Store Pickup)">Red Wines (In-Store Pickup) : $50.00 USD &#8211; monthly</option><option value="Red and White (In-Store Pickup)">Red and White (In-Store Pickup) : $90.00 USD &#8211; monthly</option><option value="White Wines (Delivered)">White Wines (Delivered) : $65.00 USD &#8211; monthly</option><option value="Red Wines (Delivered)">Red Wines (Delivered) : $65.00 USD &#8211; monthly</option><option value="Reds and Whites (Delivered)">Reds and Whites (Delivered) : $105.00 USD &#8211; monthly</option></select></td>
                </tr>
            </tbody>
        </table>
        <p>
            <input name="currency_code" type="hidden" value="USD" /><br />
            <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" type="image" /><br />
            <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0" />
        </p>
    </form>
</div>
 <!-- /Subscription Paypal Checkout -->