 <!-- Subscription modal -->
    <div class="portfolio-modal modal fade" id="subscribe" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body subscribe-body">
                            <h2>Wine of the Month Club</h2>

                            <hr class="star-primary">

                            {% include subscribe_overview.html %}

                            {% include subscribe_paypal.html %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- /Subscription modal -->