 <!-- Subscription Overview -->

<ul>
    <li>Sign up below, choosing reds, whites, or both.</li>
    <li>Each month our staff will choose a selection of two fantastic reds and two amazing whites for members to pick up at the bar. Now and then we&#8217;ll find something so out of this world that we&#8217;ll only be able to offer you one bottle rather than two, but you won&#8217;t be sorry.</li>
    <li>When the selections are ready and waiting we&#8217;ll let you know.</li>
    <li>Every day you&#8217;ll get 15% off your tab at Art du Vin</li>
</ul>

<p>Do the math and you&#8217;ll see you can&#8217;t afford not to join. When you&#8217;re ready just select below for Reds, Whites, or Both, and then click Subscribe to checkout via Paypal.</p>

 <!-- /Subscription Overview -->