
header {
    background-image: none;
}

section#contact {
    background-color: #222;
    background-image: url(img/map-image_plain_30.png);
    background-repeat: repeat;
}

.section-heading {
    text-align: center;
}

a:link.navbar-brand, a:visited.navbar-brand, a:hover.navbar-brand {
    /*color: #{{ site.color.title }};*/
    color: #ffffff;
}

.subscribe-body {
    text-align: left;
}

section#splash {
    padding-top: 50px;
}